*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    max-width: 980px;
    margin: 0 auto;
}
button{
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.flex{
    display: flex;
}


.move-text{
  width:50%;
  flex-direction: row;
}

.move-text:last-child{
    align-self: center;
    height: 150px;
    
}